server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/multi_module_test
    username: postgres
    password: esbgw123!
    driver-class-name: org.postgresql.Driver

  main:
    allow-bean-definition-overriding: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true